@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
.wrapper {
  background-color: #fafafa;
  font-family: Montserrat, sans-serif;
  width: 100%;
}

.wrapper-page {
  max-width: 1050px;
  margin: 0 auto;
  padding: 112px 32px;
}

.header {
  text-align: center;
  margin-bottom: 80px;
}

.header__subtitle {
  margin: 0 auto;
  color: #737373;
  font-size: 0, 875rem;
  line-height: 1, 25rem;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.header__title {
  font-weight: 700;
  color: #252b42;
  font-size: 2.5rem;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
  line-height: 3, 5625rem;
}

.card-item {
  -webkit-display: flex;
  -ms-display: flex;
  -moz-display: flex;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-item__benefits {
  -webkit-display: flex;
  -ms-display: flex;
  -moz-display: flex;
  display: flex;
  justify-content: center;
}

.card-item__box {
  -webkit-flex: 33.3333%;
  -ms-flex: 33.3333%;
  -moz-flex: 33.3333%;
  flex: 33.3333%;
  text-align: center;
  border: 1px solid #23a6f0;
  border-radius: 10px;
  background-color: #fff;
}

.card-item__btn a {
  display: inline-block;
  color: #fff;
  letter-spacing: 0.2px;
  font-size: 0, 875rem;
  font-weight: 700;
  line-height: 1, 375rem;
  margin-top: 15px;
  width: 246px;
  height: 52px;
  margin: 20px 0 50px 0;
  padding-top: 15px;
  background-color: #23a6f0;
  border-radius: 5px;
  -webkit-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.card-item__btn a:hover {
  background-color: #2dc071;
}

.card-item__item {
  -webkit-display: flex;
  -ms-display: flex;
  -moz-display: flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}

.card-item__price {
  -webkit-display: flex;
  -ms-display: flex;
  -moz-display: flex;
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.card-item__subtitle {
  color: #737373;
  width: 165px;
  margin: 35px auto;
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 1rem;
  line-height: 1.5rem;
}

.card-item__title {
  color: #252b42;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.1px;
  margin-top: 50px;
  text-transform: uppercase;
}

.price {
  color: #23a6f0;
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 0.2px;
  line-height: 3, 5625rem;
  margin-right: 10px;
}

.currency {
  color: #23a6f0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
}

.period {
  color: #8ec2f2;
  font-weight: 600;
  letter-spacing: 0.2px;
  font-size: 0, 875rem;
  line-height: 1.5rem;
}

.last-item {
  align-content: flex-start;
  align-items: center;
}

.item-img {
  margin-right: 10px;
}

.last-item .item-text {
  text-align: left;
}

.price-box {
  -webkit-display: flex;
  -ms-display: flex;
  -moz-display: flex;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.item-text {
  color: #252b42;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.card {
  background-color: #252b42;
  height: 705px;
}

.card .card-item__title,
.card .card-item__item {
  color: #fff;
}

.card .card-item__title {
  margin-top: 70px;
}

.card .item-text {
  color: #fff;
}

@media (max-width: 1024px) {
  .card-item {
    flex-direction: column;
    align-items: center;
  }
  .card-item__box {
    width: 50%;
    margin-bottom: 30px;
    border-radius: 0;
  }
}

@media (max-width: 769px) {
  .card-item__box {
    min-width: 327px;
    margin-bottom: 30px;
    border-radius: 0;
  }
  .header {
    margin-bottom: 60px;
  }
  .header br {
    display: none;
  }
  .wrapper-page {
    padding: 45px 42px 81px 42px;
  }
}

@media (max-width: 330px) {
  .card-item__box {
    min-width: 310px;
    margin: 10px 5px;
  }
  .header {
    margin-bottom: 20px;
  }
}
